<nav class="navbar fixed-bottom navbar-light bg-light border-top">
  <div class="container-fluid d-flex justify-content-around">
    <a class="nav-link {% if request.resolver_match.url_name == 'setup' %}active fw-bold{% endif %}" href="{% url 'setup' %}">取得</a>
    <a class="nav-link {% if request.resolver_match.url_name == 'calendar' %}active fw-bold{% endif %}" href="{% url 'calendar' %}">カレンダー</a>
    <a class="nav-link {% if request.resolver_match.url_name == 'graph' %}active fw-bold{% endif %}" href="{% url 'graph' %}">グラフ</a>
  </div>
</nav>

<style>
.navbar {
  background-color: #1DA1F2 !important;
  border-top: 1px solid #1DA1F2 !important;
}

.nav-link {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 0.35em;
  width: 33.333%;
}

.nav-link.active,
.nav-link:hover {
  color: azure;
}

@media (max-width: 991px) {
  .nav-link {
    font-size: 1rem;
    padding: 0.5rem 0.35rem;
  }
}

@media screen and (orientation: landscape) and (max-width: 991px) {
  .navbar {
    display: none;
  }
}
</style>
